@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornsilk;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    border: 1.5px solid #e0d8c8;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1.5px solid #d4ccbc;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1.5px solid #d4ccbc;
}

.select-container select {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: burlywood;
    color: white;
    font-size: 1.15rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
