@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    background-color: darkslateblue;
    color: cornsilk;
    height: 5rem;
    line-height: 5rem;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    opacity: 0.5;
    cursor:pointer;
    border-radius: 50%;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

#msg {
    background-color: darkslateblue;
    color: bisque;
    font-size: 2rem;
    font-weight: 500;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container {
    margin-top: 5rem;
}
